# Ignore environment files
.env
.env.*
*.env
**/.env
**/.env.*

# Allow example templates
!.env.example
!.env.*.example
!*example.env

# Logs
logs/
*.log

# Node modules
node_modules/

# Builds
dist/
build/

# Uploads
uploads/

